/* Color Theme Swatches in Hex */
$Brown: #662400;
$darkOrange: #B33F00;
$Orange: #FF6B1A;
$darkBlue: #006663;
$lightBlue: #00B3AD;

// /* Color Theme Swatches in RGBA */
// $Teal-and-Orange-1-rgba: rgba(102,36,0, 1);
// $Teal-and-Orange-2-rgba: rgba(178,63,0, 1);
// $Teal-and-Orange-3-rgba: rgba(255,106,25, 1);
// $Teal-and-Orange-4-rgba: rgba(0,102,98, 1);
// $lightBlue: rgba(0,178,172, 1);

// /* Color Theme Swatches in HSLA */
// $Brown: hsla(21, 100, 20, 1);
// $Teal-and-Orange-2-hsla: hsla(21, 100, 35, 1);
// $Teal-and-Orange-3-hsla: hsla(21, 100, 55, 1);
// $Teal-and-Orange-4-hsla: hsla(178, 100, 20, 1);
// $Teal-and-Orange-5-hsla: hsla(178, 100, 35, 1);
